#frame {
  background-color: #505050;
  height: 700px;
  width: 600px;
  padding: 50px;
}

#calcBody {
  background-color: grey;
  border-radius: 5px;
  padding: 50px;
}

#screen {
  background-color: white;
  font-family: monospace;
  font-size: 20px;
  padding: 30px 15px;
  border: 2px solid black;
}

.calc-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}

.calc-button {
  background-color: silver;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.calc-button-small {
  height: 60px;
  width: 75px;
}

.calc-button-large {
  height: 60px;
  width: 215px;
}