html {
  font-family: Arial;
}

body {
  padding: 20px;
}

a {
  text-decoration: none;
}

h4 {
  margin: 0;
}

.lesson-section {
  margin: 0 0 30px 30px;
}

.lesson-section > img{
  max-width: 400px;
  max-height: 400px;
}

.code-exercise-section {
  background-color: rgb(233, 233, 233);
  padding: 15px;
  max-width: 900px;
}

.code-results {
  border-radius: 5px;
  border: solid 1px black;
  display: block;
  position: relative;
  padding: 15px;
  width: 500px;
  height: 200px;
  overflow: scroll;
}

.code-results button {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.code-results-test-case {
  margin: 5px 0;
}

.code-results-fail {
  background-color: rgb(236, 131, 131);
}

.code-results-pass {
  background-color: rgb(157, 221, 157);
}

.code-results-output {
  padding: 0 0 0 15px;
}

.code-results-test-case {
  padding: 0 0 0 15px;
}